<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crm.mapper.CustomerActivityMapper">

	<select id="getTotalElements" resultType="long">
		SELECT count(a.id) FROM customer_activities a
	    LEFT OUTER JOIN customers c
	    ON c.id=a.customer_id
	    WHERE c.id=#{id}
	</select>

	<select id="getAllActivityByCustomerId" resultType="com.atguigu.crm.entity.CustomerActivity">
		SELECT *
		FROM(
			SELECT rownum rn,a.id,a.activity_date as "date",a.description,a.place,a.title
			FROM customer_activities a
			LEFT OUTER JOIN customers c
			ON a.customer_id=c.id
			WHERE c.id=#{id}
		) s
		<![CDATA[
		WHERE rn >= #{fromIndex} AND rn < #{endIndex}
		]]>
	</select>





</mapper>