<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crm.mapper.SalesChanceMapper">
	<sql id="chanceQueryCondition">
		WHERE status=#{status} AND created_user_id=#{createBy.id}
		<if test="custName!=null">
			AND cust_name LIKE #{custName}
		</if>
		<if test="title!=null">
			AND title LIKE #{title}
		</if>
		<if test="contact!=null">
			AND contact LIKE #{contact}
		</if>
	</sql>

	<select id="getTotalElements2" resultType="long">
		SELECT count(id) FROM sales_chances
		<include refid="chanceQueryCondition"/>
	</select>
	
	<select id="getContent2" resultType="com.atguigu.crm.entity.SalesChance">
		SELECT *
		FROM(
			SELECT rownum rn, id,cust_name,title,contact,contact_tel,create_date
			FROM sales_chances
			<include refid="chanceQueryCondition"/>
		) s
		<![CDATA[
		WHERE rn >= #{fromIndex} AND rn < #{endIndex}
		]]>
	</select>



	<select id="delete">
		DELETE FROM sales_chances
		WHERE id = #{id}
	</select>
	
	<select id="updateDispatch">
		UPDATE sales_chances SET status=#{status},designee_id=#{designee.id},designee_date=#{designeeDate}
		WHERE id=#{id}
	</select>
	
	<select id="update">
		UPDATE sales_chances SET source = #{source}, title = #{title}, 
		cust_name = #{custName}, contact = #{contact}, contact_tel = #{contactTel}, 
		rate = #{rate}, description = #{description}
		WHERE id = #{id}
	</select>
	
	<select id="getById" resultType="com.atguigu.crm.entity.SalesChance">
			SELECT id, source, title, cust_name, contact, contact_tel,created_user_id, rate, description, create_date
		FROM sales_chances
		WHERE id = #{id}
	</select>
	
	<select id="save">
		INSERT INTO sales_chances(id, source, title, cust_name, contact, contact_tel, rate, description, created_user_id, create_date, status)
		VALUES(crm_seq.nextval, #{source}, #{title}, #{custName}, #{contact}, #{contactTel}, #{rate}, #{description}, #{createBy.id}, #{createDate}, #{status})
	</select>
	
	
	<select id="getTotalElements" resultType="long">
		SELECT count(id) FROM sales_chances
		WHERE status=#{status} AND created_user_id=#{createBy.id}
	</select>
	
	<select id="getContent" resultType="com.atguigu.crm.entity.SalesChance">
		SELECT *
		FROM(
			SELECT rownum rn, id,cust_name,title,contact,contact_tel,create_date
			FROM sales_chances
			WHERE status = #{status} AND created_user_id = #{createBy.id}
		) s
		<![CDATA[
		WHERE rn >= #{fromIndex} AND rn < #{endIndex}
		]]>
	</select>
</mapper>